<nav class="navbar navbar-expand-lg navbar-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="assets/img/A-64.svg" width="30" height="30" title="Superheroes" alt="Vengadores">
    </a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" [routerLink]="['heroes']">Heroes</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input name="buscarHeroe" class="form-control mr-sm-2" type="search" placeholder="Buscar Heroe..." #buscarTexto (keypress)="buscarHeroe(buscarTexto.value)">
            <button (click)="buscarHeroe(buscarTexto.value)" class="btn btn-4 my-2 my-sm-0" type="button">Buscar</button>
        </form>
    </div>
</nav>
